.main {
  width: 100%;
  /* height: calc( 100vh - 65px ); */
  height: 100vh;
  font-family: 'Montserrat', sans-serif;
}

.btn-circle {
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  padding: 0;
  color: rgba(255, 255, 255, .25);
  background-color: black;
}
.btn-circle:hover {
  color: rgba(255, 255, 255, 1);
}